{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-compoennts",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  }
}
